<app-navbar  [merchantid]='uid'></app-navbar>


<div class="container" style="margin: 50px;">

<mat-card  style="display: flex;flex-direction: column;  align-items: center;" *ngIf="ismerchant">


        <mat-card-content [formGroup]="formTemplate" style="display:flex;flex-direction: column;">
   



           <mat-form-field style="width: 50vw;">
                <input matInput  formControlName="productname" placeholder="productname" type="text" required>
                <div class="text-danger" *ngIf="isSubmitted && formControls.productname.errors?.required">This field is required.
                </div>
            </mat-form-field>


            <mat-form-field style="width: 50vw;">
                <input matInput  formControlName="price" placeholder="price" type="number" required>
                <div class="text-danger" *ngIf="isSubmitted && formControls.price.errors?.required">This field is required.
                </div>
            </mat-form-field>


            <mat-form-field style="width: 50vw;">
                <textarea matInput  type="text" formControlName="description" placeholder="description" rows="6" required></textarea>
                <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required">This field is required.
                </div>
            </mat-form-field>

            <div style="width: 50vw;">
                <input  type="file" accept="image/*"  #fileUploader formControlName="imageUrl" (change)="showPreview($event)" required>
                <div class="text-danger" *ngIf="isSubmitted && formControls.imageUrl.errors?.required">This field is required.
                </div>
           </div>


        </mat-card-content>


        <mat-card-actions >
                
            <button  (click)="onSubmit(formTemplate.value)" type="submit" mat-raised-button color="warn" [disabled]="!formTemplate.valid || !disable">
                Submit</button>
       
    </mat-card-actions>
</mat-card>
</div>