<div class="container my-4" style="align-items: center;justify-content: center; display: flex;">
<mat-card style="width: 50vw; border-radius: 20px; box-shadow:20px;">
<mat-card-content>
<div>
    <h2 style="color: #e41b56;font-family: 'Merienda One'!important;">
    Enter the valid email id to reset your password. Password reset link will be sent to the provided email address
    </h2>
</div>
<mat-form-field style="width: 45vw;">
<input matInput placeholder="Email" [(ngModel)]="email" name="email"  type="email" required>
</mat-form-field>
<div [innerHTML]="emailerror" style="color: red;font-family: 'Merienda One'!important;">
  
</div>
</mat-card-content>
<mat-card-actions style="display: flex;justify-content: space-evenly; margin-bottom: 20px;">
    <button mat-raised-button (click)="resetpassword()" color="primary">SendLink</button>
  </mat-card-actions>
</mat-card>
</div>