<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
    <a class="navbar-brand" style="color: white;" (click) ="gotoshowmerchant()">N-Eats</a>
    <button class="navbar-toggler" type="button" (click) ="togglenavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent"  [ngClass] = "{show:navbarOpen}">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a (click) ="gotochat()" class="nav-link" >Your chat box</a>
        </li>
        <li class="nav-item" *ngIf="ismechant">
          <a (click) ="productpage()" class="nav-link" >Your Products</a>
        </li>
        <li class="nav-item" *ngIf="ismechant">
          <a (click) ="addproduct()" class="nav-link" >Add Products</a>
        </li>
        <li class="nav-item" *ngIf="ismechant">
          <a (click) ="adddeliveryboy()" class="nav-link" >Your Deliveryboys</a>
        </li>
        <li class="nav-item" *ngIf="uid">
          <a (click) ="logout()" class="nav-link" >Logout</a>
        </li>
        <li class="nav-item">
          <a  class="cursor" (click)="gotouserorderspage()"  class="nav-link" >Your Orders</a>
        </li>
  <li>

            <button class="cart my-2 my-sm-0" type="submit" (click)="gotocartpage()" *ngIf="!ismechant" >
                <i class="fas fa-cart-plus"></i>

Cart ({{count}})</button>

        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input  class="form-control mr-sm-2" (keyup)="valueChanged($event.target.value)" type="search" placeholder="Search" aria-label="Search">
      </form> -->
    </div>
  </nav>
<!-- 
  <mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Owner-Account</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/owner">Owner Actions</a>
            </li>
            <li>
                <a routerLink="/account">Account Actions</a>
            </li>
        </ul>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink='/first'>First Component</a>
        <a mat-list-item routerLink='/second'>Second Component</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
