
<app-navbar  [merchantid]='merid'></app-navbar>

<div class="container">

    <div *ngIf="ordersid.length!=0">


        <div *ngFor="let order of ordersid; let i = index">
            <div >
            <mat-card class="my-4" >
                    <mat-card-content>

                        <div class="name" >
                          <span>ID:</span><span style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;color: blue;
                          ">{{order}}</span>  
                        </div>
                        <div>
                            <button (click)="gotodetails(i)"  mat-raised-button color="primary" style="margin-top: 6px;">Details</button>
    
                            </div>
                        <div class="logo">
                            <img src="assets/img/user2.png"/>
                        </div>
                     
                    </mat-card-content>
                
    
            </mat-card>
    
        </div>
 
    
    </div>
</div>

<div *ngIf="ordersid.length==0">
    <mat-card class="my-4">
        <mat-card-content style="color: #e41b56;font-family: 'Merienda One'!important;">
          No orders found🤔🤔🤔🤔🤔🤔🤔
        </mat-card-content>
      </mat-card>
</div>
</div>
    