



<div class="container my-4" style="align-items: center;justify-content: center; display: flex;">
    <mat-card style="width: 50vw; border-radius: 7px; box-shadow:20px;">
    <mat-card-content>
    <div>
        <h2 style="color: #e41b56;font-family: 'Merienda One'!important;">
        Enter the valid adress to which product has to be delivered
        </h2>
    </div>
    <mat-form-field style="width: 45vw;">
    <textarea  matInput placeholder="Address" [(ngModel)]="address" name="address"  type="text" required></textarea>

    </mat-form-field>
    <div [innerHTML]="texterror" style="color: red;font-family: 'Merienda One'!important;"></div>

    </mat-card-content>
    <mat-card-actions style="display: flex;justify-content: space-evenly; margin-bottom: 20px;">
        <button (click)="confirmadress()" mat-raised-button color="primary">Confirm The Address</button>
      
        <div id="paypal-checkout-btn"></div>

      </mat-card-actions>
    </mat-card>
    </div>
