<mat-dialog-content>
  
    <h1 style="color: #e41b56;font-family: 'Merienda One'!important;">Your order placed Sucessfully and your orderid is  <span style="color: black;font-family: Georgia, 'Times New Roman', Times, serif;" >{{orderid}}</span> </h1>
    <h2 style="color: dodgerblue; font-family: 'Merienda One'!important;">Use this id to track your orders</h2>
     
    </mat-dialog-content>
    
    <mat-dialog-actions style="display:flex;justify-content: space-evenly;">
        <button mat-raised-button color="accent" (click)="close()" >Cancel</button>
</mat-dialog-actions>