.mat{
    width: 100%;
    display:flex;
    justify-content: space-around;
    height: 50%;
}
.top-body{
    width:70%;
    padding: 0;
    margin:0;
    font-family: 'Squada One', ;
    font-size: 3vw;
   
}
.bot-body{
    display: flex;
    justify-content: space-around;
    float:right;
    padding-right: 0;
    margin-right: 0;
    align-content: stretch;
}
button {
    min-height: 30px !important;
    min-width: 3vw !important;
    font-size: 1.8vw !important;
    line-height: 0px; 
  }
  .fab:focus{
  outline: none;
  }



.fab2{
background-color: yellow;
}
.fab2:focus{
    outline: none;
    }
  
img {
    align-self: end;
    max-width: 100%;
    height: auto;
    max-height: 15vh;
    padding: 0px;
    margin: 0px;
    }
.empty-cart{

font-size: 3vw;
color:red
    }

.text{
    text-align: justify; /* For Edge */
    -moz-text-align-last: center; /* For Firefox prior 58.0 */
    text-align-last: center;
}
h2,h1{
    margin: 0;
    padding: 0;
  }
  .head{
    margin: 5px;
    padding:0 ;
    display: flex;
    justify-content: center;

  }